* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  background: transparent;
  backdrop-filter: blur(200px);
  background-color: rgba(255,255,255, .07);
  margin-top: 2rem;
}
.logo {
  width: 4rem;
}
.navbar-nav {
  position: relative;
  right: -9rem;
}
.navbar-toggler {
    font-size: 1.2rem;
    border: none;
}
.navbar-toggler:focus, .btn-close:focus {
    outline: none;
    box-shadow: none;
}

/* HERO SECTION */
.hero-section {
  height: 100vh;
}
.hero-section .name {
  font-size: 3rem;
}
.hero-section .profession {
  color: #BF4100;
}
.hero-section .button button {
  width: 7rem;
  border: none;
}

@media (min-width: 1400px ) {
  .navbar {
    width: 50rem;
  }
}

@media (max-width: 1400px ) {
  .navbar {
    width: 43rem;
  }
}

@media (max-width: 992px ) {
  .navbar {
    width: 35rem;
  }
}

@media (max-width: 768px ) {
  .navbar {
    width: 30rem;
  }
}